<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${action} + ' Taquilla'">Nueva Taquilla</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script>
        function validatePhoneNumber(input) {
            const phoneNumber = input.value;
            const phoneRegex = /^\d{0,9}$/;

            if (!phoneRegex.test(phoneNumber)) {
                input.setCustomValidity("El número de teléfono debe tener 9 dígitos.");
            } else {
                input.setCustomValidity("");
            }
        }
    </script>
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container">
        <h1 class="my-4" th:text="${action} + ' Taquilla'">Nueva Taquilla</h1>

        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <span th:text="${successMessage}"></span>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>

        <form th:action="@{/taquillas}" th:object="${taquilla}" method="post">
            <div th:if="${taquilla.id != null}">
                <input type="hidden" th:field="*{id}" />
            </div>
            <div class="form-group">
                <label for="vestuario">Vestuario:</label>
                <select id="vestuario" th:field="*{vestuario.id}" class="form-control">
                    <option th:each="vestuario : ${vestuarios}" th:value="${vestuario.id}" th:text="${vestuario.nombre}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="codigoTaquilla">Código Taquilla:</label>
                <input type="text" id="codigoTaquilla" th:field="*{codigoTaquilla}" class="form-control" th:attr="readonly=${action == 'Editar'}">
            </div>
            <div class="form-group">
                <label for="nombreApellidos">Nombre y Apellidos:</label>
                <input type="text" id="nombreApellidos" th:field="*{nombreApellidos}" class="form-control">
                <div class="text-danger" th:if="${#fields.hasErrors('nombreApellidos')}" th:errors="*{nombreApellidos}">Nombre y Apellidos Error</div>
            </div>
            <div class="form-group">
                <label for="categoriaProfesional">Categoría Profesional:</label>
                <input type="text" id="categoriaProfesional" th:field="*{categoriaProfesional}" class="form-control">
                <div class="text-danger" th:if="${#fields.hasErrors('categoriaProfesional')}" th:errors="*{categoriaProfesional}">Categoría Profesional Error</div>
            </div>
            <div class="form-group">
                <label for="servicio">Servicio:</label>
                <input type="text" id="servicio" th:field="*{servicio}" class="form-control">
                <div class="text-danger" th:if="${#fields.hasErrors('servicio')}" th:errors="*{servicio}">Servicio Error</div>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" th:field="*{telefono}" class="form-control" oninput="validatePhoneNumber(this)">
                <div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Teléfono Error</div>
            </div>
            <div class="form-group">
                <label for="empresaExterna">Empresa Externa:</label>
                <input type="checkbox" id="empresaExterna" th:field="*{empresaExterna}">
            </div>
            <button type="submit" class="btn btn-primary" th:text="${action}">Guardar</button>
            <a href="/taquillas" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
