<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${action} + ' Taquilla'">Nueva Taquilla</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script>
		function setFechaRevision() {
			const now = new Date();
			const formattedDate = now.toISOString().slice(0, 19);
			document.getElementById('fechaRevisionInput').value = formattedDate;
		}

		function clearFechaRevision() {
			document.getElementById('fechaRevisionInput').value = '';
		}

		function vaciarCampos() {
			if (confirm("¿Estás seguro de que deseas vaciar esta taquilla?")) {
				document.getElementById('nombreApellidos').value = '';
				document.getElementById('categoriaProfesional').value = '';
				document.getElementById('servicio').value = '';
				document.getElementById('telefono').value = '';
				document.getElementById('empresaExterna').checked = false;
				clearFechaRevision();
				document.getElementById('revisado').checked = false;
			}
		}
	</script>
</head>

<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	<div class="container">
		<h1 class="my-4" th:text="${action} + ' Taquilla'">Nueva Taquilla</h1>

		<div th:if="${successMessage}" class="alert alert-success" role="alert">
			<span th:text="${successMessage}"></span>
		</div>
		<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
			<span th:text="${errorMessage}"></span>
		</div>

		<form th:action="@{/taquillas}" th:object="${taquilla}" method="post">
			<div th:if="${taquilla.id != null}">
				<input type="hidden" th:field="*{id}" />
			</div>
			<div class="form-group">
				<label for="vestuario">Vestuario:</label>
				<select id="vestuario" th:field="*{vestuario.id}" class="form-control">
					<option th:each="vestuario : ${vestuarios}" th:value="${vestuario.id}"
						th:text="${vestuario.nombre}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="codigoTaquilla">Código Taquilla:</label>
				<input type="text" id="codigoTaquilla" th:field="*{codigoTaquilla}" class="form-control"
					th:attr="readonly=${action == 'Editar'}" required>
				<div class="text-danger" th:if="${#fields.hasErrors('codigoTaquilla')}" th:errors="*{codigoTaquilla}">
					Código Taquilla Error</div>
			</div>

			<div class="form-group">
				<label for="nombreApellidos">Nombre y Apellidos:</label>
				<input type="text" id="nombreApellidos" th:field="*{nombreApellidos}" class="form-control">
				<div class="text-danger" th:if="${#fields.hasErrors('nombreApellidos')}" th:errors="*{nombreApellidos}">
					Nombre y Apellidos Error</div>
			</div>
			<div class="form-group">
				<label for="categoriaProfesional">Categoría Profesional:</label>
				<input type="text" id="categoriaProfesional" th:field="*{categoriaProfesional}" class="form-control">
				<div class="text-danger" th:if="${#fields.hasErrors('categoriaProfesional')}"
					th:errors="*{categoriaProfesional}">Categoría Profesional Error</div>
			</div>
			<div class="form-group">
				<label for="servicio">Servicio:</label>
				<input type="text" id="servicio" th:field="*{servicio}" class="form-control">
				<div class="text-danger" th:if="${#fields.hasErrors('servicio')}" th:errors="*{servicio}">Servicio Error
				</div>
			</div>
			<div class="form-group">
				<label for="telefono">Teléfono:</label>
				<input type="text" id="telefono" th:field="*{telefono}" class="form-control" pattern="^\d{9}$"
					title="El teléfono debe tener 9 dígitos."
					placeholder="Opcional, pero si se introduce debe tener 9 dígitos">
				<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Teléfono Error
				</div>
			</div>

			<div class="form-group">
				<label for="empresaExterna">Empresa Externa:</label>
				<input type="checkbox" id="empresaExterna" th:field="*{empresaExterna}">
			</div>

			<!-- Solo mostrar estos campos si estamos en modo edición -->
			<div th:if="${taquilla.id != null}">
				<div class="form-group">
					<label for="fechaRevision">Última Revisión:</label>
					<div class="input-group">
						<input type="text" id="fechaRevisionInput" th:field="*{fechaRevision}"
							th:value="${taquilla.fechaRevision != null ? #temporals.format(taquilla.fechaRevision, 'dd/MM/yyyy HH:mm') : ''}"
							class="form-control" readonly>
						<div class="input-group-append">
							<button type="button" class="btn btn-primary" onclick="setFechaRevision()">Marcar
								Revisión</button>
						</div>
						<button type="button" class="btn btn-danger ml-2" onclick="clearFechaRevision()">Borrar
							Revisión</button>
					</div>
				</div>

				<div class="form-group">
					<label for="revisado">Revisado:</label>
					<input type="checkbox" id="revisado" th:field="*{revisado}">
				</div>

				<!-- Botón para vaciar taquilla, solo en modo edición -->
				<button type="button" class="btn btn-warning m-2 mb-3" onclick="vaciarCampos()">Vaciar Taquilla</button>
			</div>

			<button type="submit" class="btn btn-primary" th:text="${action}">Guardar</button>
			<a href="/taquillas" class="btn btn-secondary">Cancelar</a>
		</form>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>